<div class="card mt-5">
    <div class="card-header bg-danger text-white">
        <h3 class="font-weight-bold ">CHỈNH SỬA THÔNG TIN SINH VIÊN</h3>
    </div>
    <div class="card-body">

        <form action="/sinhvien/capnhat" method="post">

            <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                <div class="col-6">
                    <label>MÃ SINH VIÊN</label>
                    <input name="txt_ma_sv" id="txt_ma_sv" class="form-control" type="text" value="{{sinhvien.ma_sv}}">

                </div>
                <div class="col-6">
                    <label>TÊN SINH VIÊN</label>
                    <input name="txt_ten_sv" id="txt_ten_sv" class="form-control" type="text"
                        value="{{sinhvien.ten_sv}}">

                </div>
            </div>
            <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                <div class="col-6">
                    <label>NGÀY SINH </label>
                    <input name="txt_ngaysinh_sv" id="txt_ngaysinh_sv" class="form-control" type="date"
                        value="{{sinhvien.ngaysinh_sv}}">

                </div>
                <div class="col-6">
                    <label>GIỚI TÍNH</label>
                    {{!-- <input name="txt_gioitinh_sv" id="txt_gioitinh_sv" class="form-control" type="text"
                        value="{{sinhvien.gioitinh_sv}}"> --}}
                    <div class="mt-2">
                        <input type='radio' name="txt_gioitinh_sv" value='1' {{#if sinhvien.gioitinh_sv}} checked
                            {{^}} "" {{/if}} />&nbsp;Nam
                        <input type='radio' name="txt_gioitinh_sv" value='0' {{#if sinhvien.gioitinh_sv}} "" {{^}}
                            checked {{/if}} />&nbsp; Nữ
                    </div>
                </div>
            </div>
            <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                <div class="col-6">
                    <label>ĐỊA CHỈ </label>
                    <input name="txt_diachi_sv" id="txt_diachi_sv" class="form-control" type="text"
                        value="{{sinhvien.diachi_sv}}">

                </div>
                <div class="col-6">
                    <label>SỐ ĐIỆN THOẠI</label>
                    <input name="txt_sdt_sv" id="txt_sdt_sv" class="form-control" type="text"
                        value="{{sinhvien.sdt_sv}}">

                </div>
                <div class="col-6">
                    <label>MÃ LỚP</label>
                    {{!-- <input name="txt_malop" id="txt_malop" class="form-control" type="text"
                        value="{{sinhvien.ma_lop}}"> --}}
                    <select class="form-control" name="txt_malop" id="txt_malop">
                        <option value="CNTT-10" {{#select sinhvien.ma_lop "CNTT-10" }} {{/select}}>
                            Công Nghệ Thông Tin Khóa 10 </option>

                        <option value="CNTT-11" {{#select sinhvien.ma_lop "CNTT-11" }} {{/select}}>
                            Công Nghệ Thông Tin Khóa 11 </option>

                    </select>
                </div>
                <input name="txt_id" id="txt_id" class="form-control" type="text" value="{{sinhvien.id}}" hidden>
            </div>
            <div class="card-header text-white">
                <button id="submit-button" type="submit" class="btn btn-warning" name="action" value="CONFIRM"><i
                        class="icon-save"></i>&nbsp&nbspLưu Lại&nbsp&nbsp</button>
                <a href="/tintucdatxanh" class="btn btn-danger"><i class="icon-remove"></i>&nbsp&nbspVề Trang
                    Chủ&nbsp&nbsp</a>
            </div>
        </form>

    </div>